#agenda {
  padding: 24px;
  background: image-url("agenda-bg.jpg");
  @include box-shadow( inset 0 0 20px #b89985 );
  .border {
    border: 2px solid black;
    border-color: rgba(black,.7);
  }
  .line {
    border: 3px double black;
    border-color: rgba(black,.7);
    padding: 48px;
  }
  .text-wrapper {
    padding: 4px 0 8px;
  }
  hgroup {
    padding-bottom: 24px;
  }
  .span10 {
    border-left: 1px dashed rgba(black,.3);
    .text-wrapper {
      padding-left: 12px;
    }
  }
  .agenda-group {
    border: 1px solid black;
    border-width: 1px 0;
    margin-bottom: -1px;
    &.off {
      .agenda-content { height: 0px; opacity: 0; }
    }
    &.on {
      .agenda-content { height: auto; opacity: 1; }
    }
  }
  .agenda-title {
    @include link-colors(black);
    @include unstyled-link;
    display: block;
    &:hover {
      background: rgba(black,.05);
    }
    .time {
      text-align: right;
      @include adjust-font-size-to(12px,2);
    }
    .head {
      @include adjust-font-size-to(24px,1);
      color: #900;
      color: rgba(#900,.9);
    }
    .name {
      @include adjust-font-size-to(20px,2);
    }
  }
  .agenda-content {
    @include transition(opacity 1s);
    overflow: hidden;
    .span2 {
      text-align: right;
    }
    .span2,
    p {
      @include adjust-font-size-to(12px);
    }
    p:last-child {
      margin-bottom: 12px;
    }
    a {
      @include link-colors( rgba(black,.7) , black );
      text-decoration: underline;
    }
  }
}