#agenda {
  background: #4b76a7;
  color: rgba(white,.9);
  padding: 20px;
  position: relative;
  overflow: hidden;
  .line {
    height: 380px - 6px;
    position: relative;
    border: 3px solid rgba(white,.5);
    padding: 10px;
    z-index: 3;
  }
  hgroup {
    margin: 0 20px;
    padding-bottom: 24px;
    .icon {
      font-size: 48px;
      line-height: 1;
      position: relative;
      top: .15em;
      z-index: 3;
    }
    h2 {
      $font-size: 32px;
      @include adjust-font-size-to($font-size,2);
      position: relative;
      z-index: 3;
    }
    h3 {
      position: absolute;
      bottom: 120px;
      right: 24px;
      $font-size: 36px;
      @include adjust-font-size-to($font-size,2);
      @include trailer(1,$font-size);
      z-index: 2;
      color: rgba(white,.7);
      @media (max-width: 979px) {
        font-size: 25px;
      }
      @media (max-width: 767px) {
        bottom: 24px;
        right: 24px;
        left: 24px;
        margin-bottom: 0;
        font-size: 25px;
        line-height: 1.2;
      }
      @media (min-width: 1200px) {
        font-size: 48px;
      }
    }
  }
  .fo {
    position: absolute;
    left: 80px;
    bottom: -23px;
    z-index: 1;
    opacity: .5;
    @media (max-width: 979px) {
      left: 0;
    }
    @media (max-width: 767px) {
      left: -80px;
    }
  }
  .fo-text {
    opacity: .5;
    position: absolute;
    top: 24px;
    right: 24px;
    @media (max-width: 979px) {
      img { width: 300px }
    }
    @media (max-width: 767px) {
      img { width: 220px }
    }
  }

  .grid {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    .h-line {
      height: 19px;
      border-bottom: 1px dashed #5c83af;
    }
    .v-line {
      height: 100%;
      width: 19px;
      float: left;
      border-right: 1px dashed #5c83af;
    }
  }

}