#agenda {
  padding: 24px;
  background: #e8ceb7 image-url("agenda-bg.jpg");
  @include box-shadow( inset 0 0 10px #b89985 );
  .border {
    border: 2px solid black;
    border-color: rgba(black,.7);
  }
  .line {
    border: 3px double black;
    border-color: rgba(black,.7);
    padding: 48px;
    @media (max-width: 767px) {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
  .text-wrapper {
    padding: 8px 0 12px;
  }
  .span2 {
    margin-left: -1px;
  }
  hgroup {
    padding-bottom: 24px;
  }
  .span10 {
    border-left: 1px dashed rgba(black,.3);
    @media (max-width: 767px) {
      border-left: none;
    }

    .text-wrapper {
      padding-left: 12px;
      @media (max-width: 767px) {
        padding-left: 0;
        padding-top: 0;
      }

    }
  }
  .agenda-group {
    border: 1px solid black;
    border-width: 1px 0;
    margin-bottom: -1px;
    &.off {
      .agenda-content { height: 0px; opacity: 0; }
    }
    &.on {
      .agenda-content { height: auto; opacity: 1; }
    }
  }
  .two-col .agenda-group {
    border-bottom: none;
  }
  .agenda-title {
    @include link-colors(black);
    @include unstyled-link;
    display: block;
    &:hover {
      background: rgba(black,.05);
    }
    .time {
      text-align: right;
      @include adjust-font-size-to(12px,1.5);
      @media (max-width: 767px) {
        text-align: left;
        line-height: 1;
      }
    }
    .head {
      @include adjust-font-size-to(24px,1.2);
      @media (max-width: 767px) {
        @include adjust-font-size-to(15px,1);
      }
      color: #900;
      color: rgba(#900,.9);
    }
    .name {
      @include adjust-font-size-to(20px,1.5);
      @media (max-width: 767px) {
        @include adjust-font-size-to(14px,1);
      }
    }
  }
  .agenda-content {
    @include transition(opacity 1s);
    overflow: hidden;
    .span2 {
      text-align: right;
      @media (max-width: 767px) {
        text-align: left;
        line-height: 1;
      }

    }
    .span2,
    p {
      @include adjust-font-size-to(12px);
    }
    p:last-child {
      margin-bottom: 12px;
    }
    a {
      @include link-colors( rgba(black,.7) , black );
      text-decoration: underline;
    }
  }
  .last-text {
    padding: 24px 0 0;
    text-align: center;
  }
}


html.no-js #agenda .agenda-group.off .agenda-content { height: auto; opacity: 1; }