.still {
  background: black;
  #hd {
    text-align: center;
    padding: 5em 0;
    position: relative;
    z-index: 1;
    @media (max-width: 979px) {
      padding: 4em 0;
    }
  }
}

// for video

.still {
  background: black image-url("space.jpg") no-repeat center center;
  @include background-size(cover);
  overflow: hidden;
  position: relative;
}

.big-title {
  $font-size: 100px;
  @include adjust-font-size-to($font-size, 3);
  @include trailer(1,$font-size);
  font-family: "changeling-neo-stencil", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 .1em rgba(84,173,255,0.9);
  color: white;
  color: rgba(white,.9);
  letter-spacing: .08em;
  margin-left: .09em;
  span {
    display: block;
  }
  .wf-active & {
    font-weight: normal;
  }
}

.sub-title {
  @include adjust-font-size-to(43px);
  margin: 0;
  font-family: "adobe-text-pro", Georgia, "Times New Roman", serif;
  text-transform: uppercase;
  text-shadow: 0 0 .1em rgba(84,173,255,0.9);
  color: white;
  color: rgba(white,.9);
  &:last-child {
    @include leader(3,40px);
  }
  .wf-active & {
    font-weight: bold;
  }
}

.jf-title {
  font-weight: bold;
  @include adjust-font-size-to(43px);
  text-shadow: 0 0 .1em rgba(84,173,255,0.9);
  color: white;
  color: rgba(white,.9);
  .wf-active & {
    font-weight: normal;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .big-title {
    font-size: 80px;
  }
  .sub-title {
    font-size: 27px;
  }
  .jf-title {
    font-size: 30px;
  }
}

@media (max-width: 767px) {
  .big-title {
    font-size: 53px;
  }
  .sub-title {
    font-size: 20px;
  }
  .jf-title {
    font-size: 30px;
  }
}