.container {
  background: black;
  #hd {
    text-align: center;
    padding: 50px 0;
    position: relative;
    z-index: 1;
  }
}

// for video

.container {
  overflow: hidden;
  position: relative;
  .video {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 0;
    background: image-url("space.png") no-repeat center center;
    @media (max-width: 480px) {
      top: 0;
      left: 0;
      width: 100%;
      height: 227px;
      @include background-size(cover);
    }
    @media (max-width: 767px) {
      top: 0;
      left: 0;
      width: 100%;
      height: 330px;
      @include background-size(cover);      
    }
    @media (min-width: 768px) {
      background: none;
    }
  }
  video {
    @extend .container;
    height: auto;
    width: 942px;
    margin-left: - 942px / 2;
    margin-top: - 65%;
    @media (max-width: 480px) {
      display: none;
    }
    @media (max-width: 767px) {
      display: none;
    }
    @media (min-width: 768px) and (max-width: 979px) {
      width: 726px;
      margin-left: - 726px / 2;
    }
    @media (min-width: 1200px) {
      width: 1172px;
      margin-left: - 1172px / 2;
    }

  }
}

.big-title {
  $font-size: 120px;
  @include adjust-font-size-to($font-size, 4);
  @include trailer(1,$font-size);
  font-family: "changeling-neo-stencil", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  text-shadow: 0 0 .1em rgba(84,173,255,0.9);
  color: rgba(white,.9);
  letter-spacing: .08em;
  margin-left: .09em;
  span {
    display: block;
  }
  .wf-active & {
    font-weight: normal;
  }
}

.sub-title {
  @include adjust-font-size-to(40px);
  font-family: "adobe-text-pro", Georgia, "Times New Roman", serif;
  text-transform: uppercase;
  text-shadow: 0 0 .1em rgba(84,173,255,0.9);
  color: rgba(white,.9);
  &:last-child {
    @include leader(3,40px);
  }
  .wf-active & {
    font-weight: normal;
  }
}

.jf-title {
  font-weight: bold;
  @include adjust-font-size-to(50px);
  text-shadow: 0 0 .1em rgba(84,173,255,0.9);
  color: rgba(white,.9);
  .wf-active & {
    font-weight: normal;
  }
}