.navbar {
  margin: 0;
  .navbar-inner {
    // @include background( linear-gradient( #333, rgba(#222,.8) ) );
  }
  .current {
    background: black;
    margin-bottom: -5px;
    color: white;
    text-shadow: 0 1px 0 black;
  }
  i {
    margin-top: 2px;
    margin-right: 2px;
  }
  .container {
    @include box-shadow(none);
    overflow: visible;
  }
  .btn-navbar {
    margin-top: 15px;
  }
  @media ( max-width: 767px ) {
    margin-bottom: 10px;
  }
  
  .dropdown-menu {
    &:before,
    &:after {
      display: none;
    }
    top: 70%;
  }
  
}
.navbar-inner {
  @include border-radius(0);
  @include box-shadow(none);
}

.navbar .brand {
  font-weight: bold;
  padding: 18px 20px 22px;
}

.navbar .nav > li > a {
  @include link-colors( rgba(white,.7), rgba(white,1) );
  padding: 20px 10px 21px;
  &.current {
    color: white;
    &:hover {
      background: black;
      cursor: default;
    }
  }
}

#nopadding {
  padding: 0;
}

body {
  padding-top: 70px;
  @media ( max-width: 979px ) {
    padding-top: 0;
    .brand {
      text-align: center;
    }
  }
}