#rootan {
  background: #000 image-url("rootan-bg.jpg") center bottom no-repeat;
  padding: 35px 0 48px;
  color: #FFF;

  .icon {
    opacity: .3;
  }
  .text-wrapper {
    padding: 24px 0 0 15px;
  }
  h2 {
    color: #a00;
  }
  h3 {
    @include trailer(1, 24px);
  }
  h4 {
    margin-bottom: 0;
  }
  .row-fluid {
    margin: 0 10%;
    width: auto;
    .span6:first-child {
      margin-right: -5px;
    }
    .span6:last-child {
      border-left: 3px double #c66;
    }
  }
  em {
    font-family: Georgia, serif;
    font-weight: bold;
    font-style: italic;
    line-height: 1;
    color: #335904;
    background: rgba(203,255,129,0.3);
    padding: 5px;
  }
}