#rootan {
  background: #000 image-url("rootan-bg.jpg") center bottom no-repeat;
  padding: 35px 0 48px;
  color: #FFF;
  .text-wrapper {
    padding: 24px 0 0 15px;
  }
  h2 {
    color: white;
  }
  h3 {
    @include trailer(1, 24px);
    margin-right: -2em;
  }
  h4 {
    margin-bottom: 0;
  }
  .row-fluid {
    margin: 0 10%;
    width: auto;
  }
  em {
    font-family: Georgia, serif;
    font-weight: bold;
    font-style: italic;
    line-height: 1;
    color: #335904;
    background: rgba(203,255,129,0.3);
    padding: 5px;
  }
  .rootan {
    margin-top: 30px;
  }
}