// init

.wf {
  opacity: 0;
}

.wf-inactive .wf,
.no-js .wf {
  opacity: 1;
}

.wf-h2 {
  font-family: "ff-netto-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}


// loading

.wf-loading {
  .wf {
    opacity: 0;
  }
  .still {
    background: black;
  }
  #hd {
    background: image-url("ajax-loader.gif") no-repeat center center;
  }
  video {
    display: none;
  }
}

// active

.wf-active {
  .wf {
    font-weight: normal;
    @include transition(opacity .5s ease-in-out);
  }
  .wf-h2 {
    position: relative;
    top: .15em;
    @include transition(opacity .5s);
  }
}

// icon font


@font-face {
  font-family: 'hitcon-icon';
  src: url('../images/hitcon-icon.eot');
  src: url('../images/hitcon-icon.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

i.icon {
	font-family: 'hitcon-icon';
	font-style: normal;
	font-weight: normal;
}

