// init

.wf {
  opacity: 0;
}

.wf-inactive .wf,
.no-js .wf {
  opacity: 1;
}

.wf-h2 {
  font-family: "ff-netto-web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

.no-js #hd {
  @include transform( scale(1) );
}

.js #hd {
  @include transform( scale(.7) );
}

// loading

.wf-loading {
  .wf {
    opacity: 0;
  }
  .still {
    background: black;
  }
  #hd {
    background: image-url("ajax-loader.gif") no-repeat center center;
  }
  video {
    display: none;
  }
}

// active

.wf-active {
  .wf {
    font-weight: normal;
    opacity: 1;
    @include transition(opacity .5s ease-in-out);
  }
  .wf-h2 {
    opacity: 1;
    position: relative;
    top: .15em;
    @include transition(opacity .5s);
  }
  #hd {
    @include transform( scale(1) );
    @include transition(all 1s ease-in-out);
  }
}

// icon font

i.icon {
	font-family: 'Pictos Custom';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
}

