$only3d: ture;
@import "compass";

// bootstrap setup
$iconSpritePath:          url("/images/glyphicons-halflings.png");
$iconWhiteSpritePath:     url("/images/glyphicons-halflings-white.png");
@import "bootstrap";
@import "bootstrap-responsive";

$light-gray: #eeeeef;

html,body {
  -webkit-font-smoothing: antialiased;
  background: #d7d8da;
  font-size: 16px;
  line-height: 24px;
}

.container {
  overflow: hidden;
  @include box-shadow( 0 1px 5px rgba(black,.8) );
}


body {
  padding: 48px 0;
  @media (max-width: 767px) {
    padding: 0;
  }
}

.text-wrapper {
  padding: 20px;
}

h2 {
  @include adjust-font-size-to(48px, 2);
  @include trailer(2/3, 48px);
}

h3 {
  @include adjust-font-size-to(24px, 1);
  @include trailer(1/2, 24px);
}

p {
  @include adjust-font-size-to(16px);
  @include trailer(1,16px);
}

@import "header";
@import "wf_control";
@import "about";
@import "feature";