$only3d: ture;
@import "compass";

// bootstrap setup
$iconSpritePath:          url("/images/glyphicons-halflings.png");
$iconWhiteSpritePath:     url("/images/glyphicons-halflings-white.png");
@import "bootstrap";
@import "bootstrap-responsive";

$light-gray: #eeeeef;

html,body {
  -webkit-font-smoothing: antialiased;
  background: #d7d8da;
  font-size: 16px;
  line-height: 24px;
  -webkit-text-size-adjust: 100%;
}

.container {
  overflow: hidden;
  @include box-shadow( 0 1px 5px rgba(black,.8) );
}

#top.container {
  overflow: visible;
  @include box-shadow( none );
}

body {
  padding: 48px 0;
  @media (min-width: 768px) and (max-width: 979px) {
    padding: 20px;
    padding-bottom: 0;
  }
  @media (max-width: 767px) {
    padding: 0;
  }
  padding-bottom: 0;
}

.text-wrapper {
  padding: 20px;
}

.ct9,.ct10 {
  font-weight: normal;
}

.big-header {
  padding-top: 48px;
  hgroup {
    margin: 0 20px;
    padding-bottom: 24px;
    .icon {
      display: block;
      text-align: center;
      margin-bottom: .3em;
      font-size: 70px;
    }
    h2 {
      text-align: center;
    }
    h3 {
      text-align: center;
      $font-size: 25px;
      @include adjust-font-size-to($font-size,2);
      @include trailer(1,$font-size);
    }
  }
}

h2 {
  @include adjust-font-size-to(48px, 2);
  @include trailer(2/3, 48px);
}

h3 {
  @include adjust-font-size-to(24px, 1);
  @include trailer(1/2, 24px);
}
h4 {
  @include adjust-font-size-to(18px, 1);
  @include trailer(1, 18px);
}

li,ol,ul,p {
  @include adjust-font-size-to(16px);
}

ol,ul,p {
  @include trailer(1,16px);
}

ul ul {
  margin-left: 1em;
}

@import "top";
@import "header";
@import "wf_control";
@import "about";
@import "feature";
@import "agenda";
@import "registration";
@import "venue";
@import "hack";

@import "touch_tweak";