.about.row
  .span6.equal-heights
    .text-wrapper.whats-hitcon

      %h2.wf-h2 What's HITCON

      :markdown

        Hacks In Taiwan Conference 台灣駭客年會 (HITCON)
        是台灣最大的駭客與資安技術研討會。

        純技術的領域裡面沒有黑與白。我們認為駭客是代表著高超的技術、挑戰的精神。
        有別於一般商業性質濃厚之研討會，台灣駭客年會提供了一個舞台讓駭客們有機會與大家分享最新與最深入的資安技術，
        面對面交流經驗，自由的對談。

        台灣駭客年會也舉辦了網路攻防競賽 (Wargame)，提供真實的網路環境和挑戰，
        讓參與人員能夠盡情發揮，在活動中學習並印證自己的能力。是駭客年會最大的特色之一。
        即時的 IRC 聊天頻道、綿羊牆等創新的安排，都是台灣駭客年會與眾不同之處。

        在這一年一度駭客們的聚會，除了技術的分享，也能體驗到真正的駭客文化。
        我們歡迎所有對資訊安全有興趣的朋友，一同參與這每年一度的盛會。

  .span6
    .hitimg.equal-heights.hidden-phone