#agenda
  .line
    .row
      .span12
        %hgroup
          %h2.wf.wf-h2
            %i.icon l
            Agenda
          %h3.ct9 世上最秀麗的議程終於姍姍來遲了
    .agenda-group.off
      %a.agenda-title{ :href => "#" }
        .text-wrapper
          .row-fluid
            .span2
              .time 時間未定
            .span10
              .name Brandon Dixon
              .head.ct10 主題未定
      .agenda-content
        .text-wrapper
          .row-fluid
            .span2 講者介紹
            .span10
              :markdown
                Brandon 目前是美國 Verisign 的 Security Intelligence Engineer，同時他也是9bplus 網站的創辦人。
                曾經擔任過喬治華盛頓大學(GWU) 的電腦鑑識與資安工程師。
                現在Brandon 專注在 APT 活動與惡意文件分析研究上，針對PDF形式的惡意文件與 Adobe PDF Reader 弱點有相當深入的研究，
                在他的Blog上也曾經發表過數個最新的Exploit研究，引起各大軟體廠商注意。而在現今資安圈最熱門的 APT 議題上，
                Brandon不但發表過許多深入的研究，甚至提供了免費的線上 PDF惡意文件分析平台 PDF-XRay <https://www.pdfxray.com/>，
                對於各種PDF編碼，Javascript分析與Exploit，都有相當不錯的分析能力，頗受各大資安專家的好評。
                Brandon近年來也在國際資安會議上發表，如 Defcon 17, Syscan 與 InfoSec Southwest。
                對於 APT攻擊與惡意文件分析有興趣的朋友，要把獲這次難得與國外專家交流的好機會。
                
                <http://blog.9bplus.com>  
                <https://www.pdfxray.com>  
                twitter: [@9bplus](http://twitter.com/9bplus)

    .agenda-group.off
      %a.agenda-title{ :href => "#" }
        .text-wrapper
          .row-fluid
            .span2
              .time 時間未定
            .span10
              .name Speaker Name
              .head.ct10 主題未定
      .agenda-content
        .text-wrapper
          .row-fluid
            .span2 講者介紹
            .span10
              :markdown
                講者介紹內文一大堆的...

    .agenda-group.off
      %a.agenda-title{ :href => "#" }
        .text-wrapper
          .row-fluid
            .span2
              .time 時間未定
            .span10
              .name Speaker Name
              .head.ct10 主題未定
      .agenda-content
        .text-wrapper
          .row-fluid
            .span2 講者介紹
            .span10
              :markdown
                講者介紹內文一大堆的...

    .agenda-group.off
      %a.agenda-title{ :href => "#" }
        .text-wrapper
          .row-fluid
            .span2
              .time 時間未定
            .span10
              .name Speaker Name
              .head.ct10 主題未定
      .agenda-content
        .text-wrapper
          .row-fluid
            .span2 講者介紹
            .span10
              :markdown
                講者介紹內文一大堆的...

    .agenda-group.off
      %a.agenda-title{ :href => "#" }
        .text-wrapper
          .row-fluid
            .span2
              .time 時間未定
            .span10
              .name Speaker Name
              .head.ct10 主題未定
      .agenda-content
        .text-wrapper
          .row-fluid
            .span2 講者介紹
            .span10
              :markdown
                講者介紹內文一大堆的...

    .agenda-group.off
      %a.agenda-title{ :href => "#" }
        .text-wrapper
          .row-fluid
            .span2
              .time 時間未定
            .span10
              .name Speaker Name
              .head.ct10 主題未定
      .agenda-content
        .text-wrapper
          .row-fluid
            .span2 講者介紹
            .span10
              :markdown
                講者介紹內文一大堆的...

    .agenda-group.off
      %a.agenda-title{ :href => "#" }
        .text-wrapper
          .row-fluid
            .span2
              .time 時間未定
            .span10
              .name Speaker Name
              .head.ct10 主題未定
      .agenda-content
        .text-wrapper
          .row-fluid
            .span2 講者介紹
            .span10
              :markdown
                講者介紹內文一大堆的...

    .agenda-group.off
      %a.agenda-title{ :href => "#" }
        .text-wrapper
          .row-fluid
            .span2
              .time 時間未定
            .span10
              .name Speaker Name
              .head.ct10 主題未定
      .agenda-content
        .text-wrapper
          .row-fluid
            .span2 講者介紹
            .span10
              :markdown
                講者介紹內文一大堆的...

    .agenda-group.off
      %a.agenda-title{ :href => "#" }
        .text-wrapper
          .row-fluid
            .span2
              .time 時間未定
            .span10
              .name Speaker Name
              .head.ct10 主題未定
      .agenda-content
        .text-wrapper
          .row-fluid
            .span2 講者介紹
            .span10
              :markdown
                講者介紹內文一大堆的...

    .agenda-group.off
      %a.agenda-title{ :href => "#" }
        .text-wrapper
          .row-fluid
            .span2
              .time 時間未定
            .span10
              .name Speaker Name
              .head.ct10 主題未定
      .agenda-content
        .text-wrapper
          .row-fluid
            .span2 講者介紹
            .span10
              :markdown
                講者介紹內文一大堆的...

    .agenda-group.off
      %a.agenda-title{ :href => "#" }
        .text-wrapper
          .row-fluid
            .span2
              .time 時間未定
            .span10
              .name Speaker Name
              .head.ct10 主題未定
      .agenda-content
        .text-wrapper
          .row-fluid
            .span2 講者介紹
            .span10
              :markdown
                講者介紹內文一大堆的...

