.agenda
  .border
    .line
      .row
        .span12
          %hgroup
            %h2.wf.wf-h2
              %i.icon l
              Agenda 7/20
      .agenda-group.off
        %a.agenda-title{ :href => "#" }
          .row-fluid
            .span2
              .text-wrapper
                .time 國際廳<br>09:40 ~ 10:00
            .span10
              .text-wrapper
                .name 李德財 校長 (TW)
                .head Opening Remarks
        .agenda-content
          .row-fluid
            .span2
              .text-wrapper
                講者介紹
            .span10
              .text-wrapper
                :markdown
                  中央研究院院士，現任國立中興大學校長。李德財校長的研究興趣在於演算法設計分析、計算幾何學、
                  VLSI 佈局、演算法視覺化、生物資訊、軟體安全、數位圖書館、網際網路解題平台以及智慧傳輸系統等。
                  他已經發表近 200 篇的學術性論文於重要期刊上，並經由 Institute for Scientific Information（ISI）評選為論文被高度引用之學者。
                  李德財除了擁有數項美國及中華民國專利，尤對計算幾何有傑出貢獻，是計算機科學領域中最具影響力的學者之一。
                  目前李德財也擔任許多重要國際期刊的編輯委員、指導國內學生進行研究，並且主持多項重要大型研究計畫，
                  包括多媒體生活環境的數位內容科學、資通安全研究與教學中心等。
                  
      .agenda-group.off
        %a.agenda-title{ :href => "#" }
          .row-fluid
            .span2
              .text-wrapper
                .time 國際廳<br>10:00 ~ 10:45
            .span10
              .text-wrapper
                .name 朱學恒 (TW)
                .head 如何駭進你的國度 How to hack into your own country
        .agenda-content
          .row-fluid
            .span2
              .text-wrapper
                講者介紹
            .span10
              .text-wrapper
                :markdown
                  朱學恒（Lucifer Chu），是臺灣翻譯家及作家，是《龍槍》系列（第三波出版）、《魔戒三部曲》、《哈比人歷險記》、《星際大戰》索龍(en)三部曲的翻譯者，被媒體及部分網友們稱為「宅神」。為奇幻文化藝術基金會創辦人兼董事長及開放式課程網頁正體及簡體中文版翻譯計劃主持人。朱學恒因發表許多支持宅男的言論，而被台灣媒體以「宅神」稱呼；而朱學恒亦表示「宅神」是台灣媒體為了標題聳動所取下的稱號，並不認為自己能稱得上神，曾在自己的部落格文章和所著的書中提醒網友須學會自我思考及批判。

      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 國際廳<br>11:00 ~ 11:45
                .span10
                  .text-wrapper
                    .name 萬濤 (CN)
                    .head 雲計算模式下的安全與"駭客經濟"威脅趨勢分析
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      萬濤，1993 年畢業于北京交通大學，IDF互聯網威懾防禦實驗室的創始人，中國大陸最早接受 ICSA 國際電腦安全協會及 IDEFENSE 互聯網威懾情報專業培訓的資訊安全專家。
                      1992 年起就進入電腦病毒與解密技術領域的研究工作，先後在普華永道、美國 CA 等企業任職，有多年的資訊安全產品研發和資訊安全治理與架構設計諮詢顧問服務經驗，曾擔任領銜多個大型資訊安全專案的首席安全顧問或架構師。
                      在資訊安全業界一直宣導“從善如流”的安全文化，並致力於青少年網路犯罪預防與促進大陸公益領域資訊化能力建設。
        .span6    
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 二廳<br>11:00 ~ 11:45
                .span10
                  .text-wrapper
                    .name 林傳凱 CK Lin (TW)
                    .head 應用 SIEM 偵測與預防 APT 緩攻擊
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      惠普科技股份有限公司 資訊安全產品事業部 北亞區資深技術顧問



      .agenda-group.rest
        .agenda-title
          .name 中午休息、吃、睡
  
      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 國際廳<br>13:00 ~ 13:45
                .span10
                  .text-wrapper
                    .name Pedro Vilaça (PT)
                    .head OS X Reverse Engineering and Malware - Past and future in OS X malware.
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      Pedro 畢業於葡萄牙的 University of Porto Business School (EGP-UPBS)。
                      Pedro 雖然主修經濟管理，但是在資安界卻是相當知名駭客與資安顧問。
                      他也曾經 SIBS Informatica, Cesce SI 等著名公司擔任網管與資安顧問工作，不過有著駭客靈魂的 Pedro 來說，挖掘問題與逆向工程才是最愛! 
                      自從 2003 年開始就熱衷於 Mac OS X 平台的逆向研究，包含 Debugging 與 Anti-Debugging 各種技術研究，是相當知名的 Mac OS 逆向專家，參與過多項 Mac OS 上 Reversing Tools 的開發與研究。
                      Pedro 堪稱是 Mac OS Reversing 界魔王級的大師，歷經了千辛萬苦與死纏爛打，我們終於請到了大師降臨。
                      很快地，你可以在台灣的 HITCON 2012 看到他的發表，敬請期待。
        
                      <http://reverse.put.as>  
                      <email: reverser@put.as>  
                      Twitter: @osxreverse(http://twitter.com/osxreverse)
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 二廳<br>13:00 ~ 13:45
                .span10
                  .text-wrapper
                    .name Kunio Miyamoto a.k.a. wakatono (JP)
                    .head VMM Detection Approach Maniacs - No one can be believed (日文演講、逐步口譯)
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      Kunio Miyamoto, Ph.D. 先生是日本知名系統整合公司的研究員，負責資訊安全領域的研究，也是 Institute of Information Security 客座研究員。1991年取得東京電気通信大学工程學士、2011 年取得橫濱 Institute of Information Security 博士。
                      他寫了一些軟體（例如 Apache2 的網址字元處理模組 mod_encoding）、很多專欄文章、一些書、論文、期刊論文、也編譯系統平台安全書籍。
                      他的研究興趣包括系統平台科技（網路、作業系統架構、虛擬機架構）和各種資安。
                      他的詳細介紹和研究議題，在個人網站 http://www.pfsec.net/(日文)
    
                      本場次預計為 日文演講、逐步口譯。
        
      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 國際廳<br>13:55 ~ 14:40
                .span10
                  .text-wrapper
                    .name 鄭文彬 MJ0011 (CN)
                    .head Reversing Windows 8: Interesting Kernel Security 逆向 Windows 8 : 內核安全特性拾趣
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      360安全衛士 (360 Safe) 的資深安全研究人員，在 Windows 內核、安全漏洞、
                      安全對抗和逆向工程領域有超過 8 年的經驗。在為 360 的 4 億用戶提供穩定堅固的防護產品的同時，
                      他還曾多次發現過 Windows 系統安全性漏洞，並曾在 XCON2008、POC2009/2010、HITCON2011 上演講
                      關於內核攻防、Bootkit 及虛擬化等領域的議題。
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 二廳<br>13:55 ~ 14:40
                .span10
                  .text-wrapper
                    .name OSSLab 張道弘 thx (TW)
                    .head In-depth Data Recovery and Digital Forensics 深度解密資料救援與數位鑑識
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      OSSLab 開放軟體實驗室致力於開放性嵌入式系統與單晶片與儲存架構開發研究。團隊成員擅長分析底層電子通訊協定與演算法技術，別於一般單位或系統整合廠商只運用軟體式的資料救援與數位鑑識，OSSLab 為台灣唯一自行設計數位鑑識軟體與資料恢復專用硬體的鑑識廠商，其應用亦擴展到高難度行動裝置層面。


      .agenda-group.rest
        .agenda-title
          .name 休息、搶餐點

      .row-fluid.two-col
        .span6

          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 國際廳<br>15:00 ~ 15:45
                .span10
                  .text-wrapper
                    .name Aido & Manaka, tehepero! 愛奴＆愛花(・ω<) (JP)
                    .head How to organize Emergency headquarters with reference to Sengoku BASARA<br />緊急應變總部的組織配置，以戰國 Basara 為範例
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      Aido 先生為日本某銀行資訊系統公司的主任安全研究員，也是 AVTOKYO 2009,2010,2011 講師，擁有 CISSP,CISA 證照。
                      Chief Security Resercher about Banking system. AVTOKYO Speaker(2009,2010,2011)CISSP, CISA 
                      Specialized magazine "Hacker Japan"'s Regular writer. And he was called "King of OTAKU(Real Juu)" 
                      satisfied with his real life.
    
                      本場次預計為 日文演講、逐步口譯。
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 二廳<br>15:00 ~ 15:45
                .span10
                  .text-wrapper
                    .name Robert Rowley (US)
                    .head State of Web Application Security
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      Robert Rowley (羅伯特。羅利，嗯，注意不是蘿莉) 是一位樂觀開朗的專業網管，他的工作是擺平各種牛鬼蛇神的惡意騷擾，確保上百萬個網站能順暢運作，這樣 DreamHost.com 的數十萬客戶都能安心睡覺賺大錢。
                      聽起來很簡單嗎？開玩笑，現在大家流行在喊 Big Data (海量資料)，駭客流行在搞 Mass Attack (巨量攻擊)，多年的駭客攻防實戰經驗已讓 Robert 練就以一當百的 Big MIS (網管大很大) 能耐，怪事何其多，總是能搞定，憑甚麼？請大家拭目以待。

      .row-fluid.two-col
        .span6

          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 國際廳<br>16:00 ~ 16:45
                .span10
                  .text-wrapper
                    .name 潘明杰 Nanika (TW)
                    .head Exploitation of Windows .NET Framework
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      Ming-chieh's (Nanika) major areas of expertise include vulnerability research, 
                      exploit techniques, malware detection and mobile security. He has 10+ years of experience 
                      on vulnerability research on Windows platform and malicious document and exploit. 
                      He has discovered numerous Windows system and document application vulnerabilities, 
                      such as Microsoft Office, Adobe PDF, and Flash. He frequently presents his researches at security conferences in Asia, 
                      including Syscan Singapore/Taipei/Hong Kong 08/10, Hacks in Taiwan 05/06/07/09/10. 
                      Ming-chieh is a staff research engineer with Trend Micro. 
                      He and Sung-ting are members of CHROOT security group in Taiwan.

        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 二廳<br>16:00 ~ 16:45
                .span10
                  .text-wrapper
                    .name 周宏霖 Loda Chou (TW)
                    .head Introduce LLVM from a hacker's view 從駭客觀點談 LLVM 技術
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      擅長 Windows 與 Linux 核心技術，喜好研究核心與破解軟體保護。目前工作於手機晶片設計工作室。
                      A technical guy for MS Windows/Linux Kernel internals. Like to hack kernel or crack 
                      software protection. Work for a mobile chip design house.

      .agenda-group.off
        %a.agenda-title{ :href => "#" }
          .row-fluid
            .span2
              .text-wrapper
                .time 17:00 ~ 17:10
            .span10
              .text-wrapper
                .name Wargame 第一日戰況
                .head 
        .agenda-content
          .row-fluid
            .span2
              .text-wrapper
                
            .span10
              .text-wrapper
                :markdown
                  Wargame 第一日的戰況總結！到底誰會拔得頭籌呢？究竟台灣與國外駭客交戰誰佔上風呢？讓我們拭目以待！

.agenda
  .border
    .line
      .row
        .span12
          %hgroup
            %h2.wf.wf-h2
              %i.icon l
              Agenda 7/21

      .agenda-group.off
        %a.agenda-title{ :href => "#" }
          .row-fluid
            .span2
              .text-wrapper
                .time 國際廳<br>09:10 ~ 09:50
            .span10
              .text-wrapper
                .name Ryan Heffernan (US)
                .head Designing for Targeted Attacks: Coping with the Realities of Determined Adversaries
        .agenda-content
          .row-fluid
            .span2
              .text-wrapper
                講者介紹
            .span10
              .text-wrapper
                :markdown
                  Attackers have become increasingly sophisticated, and defenders must respond in kind.  How can we design software and services to handle these evolving threats? This talk will explore ways to adapt defense strategies to better resist targeted attacks.

      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 國際廳<br>10:00 ~ 10:45
                .span10
                  .text-wrapper
                    .name 宋雷 (CN)
                    .head Chinese Web Browser Security 大陸瀏覽器安全問題研究
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      金山獵豹瀏覽器工程師，曾做為核心研發人員，開發過 360 安全衛士，可牛殺毒，金山毒霸等產品。
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 二廳<br>10:00 ~ 10:45
                .span10
                  .text-wrapper
                    .name Myunghun Cha & Jin Suk, Park (KR)
                    .head Emulation Based Analysis
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      Cha 目前就讀於韓國浦項大學電腦工程系大四, 於2007 年時加入韓國駭客組織 PLUS, 至今已是該組織的資深成員,
                      曾在國際的駭客競賽立下不少豐功偉業, 包含 Codegate International Hacking Competition 2009 第三名, DEFCON 17 CTF 第三名 以及 DEFCON19 第八名.
                      Jin Suk 目前就讀於韓國浦項大學機械工程系大二, 於 2011 年加入 PLUS 組織, 能力跟技能至今乃是個謎... 似乎是隱藏的大魔王.
                      這二位來自韓國的駭客將於 HITCON 2012 首度公開到底是使用了什麼奇淫技巧, 才能在 CTF 競賽中取得如此佳績! 讓我們拭目以待!!!!

      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 國際廳<br>11:00 ~ 11:45
                .span10
                  .text-wrapper
                    .name Yuji Ukai (JP)
                    .head "egg" - A Stealth Fine Grained Code Analyzer
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      Yuji Ukai 是資安公司 Fourteenforty Research Institute 的 CEO，也是日本資安圈被廣為認可的意見領袖。
                      國立德島大學取得計算機博士學位後，他加入了日本柯達研究中心，主要領域是數位裝置和嵌入系統安全。
                      2003 年移居美國並以資深研究工程師身分加入 eEye Digital Security，進行弱點掃描的軟體開發。工作包括弱點分析、弱點稽核、惡意程式分析、嵌入系統安全、P2P 網路安全。
                      2007 年回到日本，共同創立 Fourteenforty Research Institute。在過去幾年內，他發現了許多關鍵的安全弱點，涵蓋軟體產品範圍廣大，並且進行許多針對嵌入系統、即時作業系統的弱點分析研究。Yuji Ukai 曾在許多世界知名駭客年會發表研究成果，廣受國際肯定。

        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 二廳<br>11:00 ~ 11:45
                .span10
                  .text-wrapper
                    .name axis 大风 (CN)
                    .head 深入淺出雲計算安全
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      "畢業于西安交通大學少年班，從 2000 年開始研究網路攻防技術。在大學期間創立了在中國安全圈內極具影響力的組織“幻影”。
                      2005 年加入阿里巴巴，負責網路安全。工作期間，對阿里巴巴的安全開發流程、應用安全建設做出了傑出的貢獻，並多次獲得公司的表彰。曾先後幫助淘寶、支付寶建立了應用安全體系，保障公司業務得以快速而安全的發展。
                      2009 年加入阿里巴巴雲計算有限公司，負責雲計算安全、反網路欺詐等工作，長期專注于安全技術的創新與實踐。同時還是 OWASP 在中國的區域負責人之一，在互聯網安全領域有著極其豐富的經驗。著有《白帽子講 Web 安全》一書。
                      平時樂於分享，個人博客的瀏覽已超過 200 萬。多年來活躍在安全社區中，有著強大的影響力。多次受邀在國內、國際安全會議上演講，是中國安全行業的領軍人物之一。"


  
      .agenda-group.rest
        .agenda-title
          .name 中午休息、吃、睡

      .row-fluid.two-col
        .span6

          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 國際廳<br>13:00 ~ 13:45
                .span10
                  .text-wrapper
                    .name Brandon Dixon (US)
                    .head Wedging into Uncharted Targeted Infrastructure
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      Brandon 目前是美國 Verisign 的 Security Intelligence Engineer，同時他也是 9bplus 網站的創辦人。
                      曾經擔任過喬治華盛頓大學 (GWU) 的電腦鑑識與資安工程師。
                      現在Brandon 專注在 APT 活動與惡意文件分析研究上，針對 PDF 形式的惡意文件與 Adobe PDF Reader 弱點有相當深入的研究，
                      在他的 Blog 上也曾經發表過數個最新的 Exploit 研究，引起各大軟體廠商注意。而在現今資安圈最熱門的 APT 議題上，
                      Brandon 不但發表過許多深入的研究，甚至提供了免費的線上 PDF惡意文件分析平台 PDF-XRay <https://www.pdfxray.com/>，
                      對於各種 PDF 編碼，JavaScript 分析與 Exploit，都有相當不錯的分析能力，頗受各大資安專家的好評。
                      Brandon 近年來也在國際資安會議上發表，如 Defcon 17, Syscan 與 InfoSec Southwest。
                      對於 APT 攻擊與惡意文件分析有興趣的朋友，要把獲這次難得與國外專家交流的好機會。
                      
                      <http://blog.9bplus.com>  
                      <https://www.pdfxray.com>  
                      twitter: [@9bplus](http://twitter.com/9bplus)

        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 二廳<br>13:00 ~ 13:45
                .span10
                  .text-wrapper
                    .name 周立平 教授 (TW)
                    .head Cryptanalysis in Real Life 現實生活中的密碼分析研究
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      周教授目前任教於文化大學資工系, 研究領域主要是網路安全和作業系統安全, 
                      2009 開始對 RFID 的安全性做深入探討, 已有兩名研究生以此題目畢業, 
                      其畢業論文皆有理論和實際的攻擊. 周教授對於世界上普遍使用的 Mifare Classic 
                      系列智慧卡片有特殊的心得和想法, 目前朝向與國內外專家合作挑戰那些已改良的智
                      慧卡片的安全漏洞，在會中期待他會揭露國內外相關卡片的弱點和不為人知的秘密, 
                      另外他也將會與聽眾分享自然人憑證等的安全議題。


      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 國際廳<br>13:55 ~ 14:40
                .span10
                  .text-wrapper
                    .name 叢培侃 PK (TW)
                    .head Pwning The Chinese P2P Network 如何潛入台灣知名封閉式P2P網路
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      畢業於中央警察大學資管所，曾經服務於刑事警察局科技犯罪防制中心、警政署資訊室等單位，
                      於服務期間主要負責科技犯罪偵查、電腦鑑識及警政網路安全策略規劃，
                      於資安事件處理與電腦鑑識領域具有 6 年以上經驗，且對於進階持續性威脅 (APT) 研究亦超過 5 年以上，
                      算是台灣少數 APT 與鑑識專家之一。專長為惡意程式分析，軟體逆向工程，漏洞分析與程式開發等技術，
                      目前為TWNIC, SyScan, HITCON, BlackHat 與 FutureGov 等研討會、課程講師。
                      Peikan (aka PK) has intensive computer forensic, malware and exploit analysis and 
                      reverse engineering experience. He's working for National Police Agency now. Besides, 
                      he is also the docent for Taiwan Network Information Center (TWNIC), SyScan and HITCON
                      as well as FutureGOV conference and convey various training and workshop for practitioners.

        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 二廳<br>13:55 ~ 14:40
                .span10
                  .text-wrapper
                    .name 洪光鈞 Kuang-Chun Hung (TW)
                    .head SCADA Security Uncovered SCADA 安全問題 你不能不知的真相
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      一個平凡的上班族，目前任職於 ICST 行政院國家資通安全會報技術服務中心。喜歡過低調的生活，
                      平時就是兩點一線(上班跟家裡)，沒什麼特殊專長，如果真 要說的上專長的話‧‧‧
                      打了一嘴好籃球還蠻在行的。初入資安叢林，太難的技術不會，簡單的還可以，先前會一點簡單
                      的滲透測試，現在會一些單純的模糊測試，以後還沒想好。這次為了生計，只好出來拋頭露臉獻醜了。





      .agenda-group.rest
        .agenda-title
          .name 休息、搶餐點

      .row-fluid.two-col
        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 國際廳<br>15:00 ~ 15:45
                .span10
                  .text-wrapper
                    .name Andrey Belenko (RU)
                    .head Evolution of iOS Data Protection and iPhone Forensics: from iPhoneOS to iOS 5 and iCloud backups, iOS 資料保護和數位鑑識的革命：從 iOS 到 iCloud
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      Andrey 是知名 Elcomsoft 公司的首席資安研究員與軟體工程師，他共同發明雷電表 (Thunder Tables，是彩虹表 Rainbow Tables 的改良版)，
                      也是史上第一位將 GPU 加速運用到密碼還原！Andrey 持有M. Sc. IT與CISSP。
                      Andrey is the Chief Security Researcher and Software Engineer at Elcomsoft. 
                      Co-invented ThunderTables (which are improved RainbowTables) and was first to bring 
                      GPU acceleration to password recovery. M. Sc. IT and CISSP. 
    
                      <http://ru.linkedin.com/in/belenko>
                      twitter: [@andreybelenko](http://twitter.com/andreybelenko)

        .span6
          .agenda-group.off
            %a.agenda-title{ :href => "#" }
              .row-fluid
                .span2
                  .text-wrapper
                    .time 二廳<br>15:00 ~ 15:45
                .span10
                  .text-wrapper
                    .name Frank Tse & William Guo (HK)
                    .head DDoS - Yesterday, Today and tomorrow 分散式阻斷攻擊 (DDos) 的前世今生
            .agenda-content
              .row-fluid
                .span2
                  .text-wrapper
                    講者介紹
                .span10
                  .text-wrapper
                    :markdown
                      Frank 目前是 Nexusguard 的 Research Manager, Nexusguard 是知名的 DDoS 防護解決廠商. 
                      他是一位經驗豐富的 DDoS 攻擊防護網絡安全專家，負責了解最新的 DDoS 攻擊手法和發展先發製人
                      的防護戰略，三年來在 Nexusguard 第一線處理過每個月上百起 DDoS 攻擊事件，實務經驗相當豐富。
                      他也是 DDoS 相關事宜的學術和研究機構的 coordinator 。
                      William 目前是 Nexusguard 的資安研究員，有漏洞檢測及安全事件緊急處理的經驗。同時他也是網路創業愛好者以及科技部落格寫手。
                      Mr. Frank Tse is the Research Manager of Nexusguard, 
                      a premium DDoS mitigation provider. He is an experienced network security specialist in 
                      DDoS mitigation, responsible for understanding the most current DDoS attacks and developing 
                      pre-emptive mitigation strategies. He is also in charge of maintaining the mitigation provider's 
                      knowledge base and internal training. Frank has been on the frontline of combating DDoS for Nexusguard 
                      for the past three years, analysing and mitigating hundreds of attacks per month. He provides first hand 
                      and in-depth insight on attacks and effective application of countermeasures. 
                      He is also the coordinator for external communications with academic and research bodies on DDoS related matters. 
                      Mr. Tse is a CCIE holder with a degree in Computing Mathematics.
                      William Guo is a security researcher at Nexusguard, he has experiences in vulnerability detection and incident response, also he is a big fan of internet/startup and tech blog writer.


      .agenda-group.off
        %a.agenda-title{ :href => "#" }
          .row-fluid
            .span2
              .text-wrapper
                .time 國際廳<br>16:00 ~ 16:45
            .span10
              .text-wrapper
                .name 大可 Dark (TW)
                .head iOS 軟體逆向工程應用 IAP (In-App Purchases) 破解、遊戲作弊引擎與手機遙控技術
        .agenda-content
          .row-fluid
            .span2
              .text-wrapper
                講者介紹
            .span10
              .text-wrapper
                :markdown
                  從 2005 年開始研究網路攻防技術，於 2006 年活躍於台灣資安圈，在台灣各駭客組織
                  都可能發現他的蹤跡曾是台灣資安組織 PHATE 創始人之一、以及 Zuso Security 核心成員，
                  現是台灣資安研究組織 CHROOT 成員熟悉多種程式語言、軟體逆向工程技術、Windows 底層，
                  且在 18 歲時曾於 HITCON2009 演講破解遊戲作弊防護軟體，為 HITCON 歷屆最年輕講師。
                  最近他專注在 iOS 軟體逆向工程研究，已經有了些許成果，希望在 HITCON2012 跟大家分享，
                  他特別聲明，雖然他的 ID 雖然是 Dark，但他是位不搞破壞的白帽駭客。

      .agenda-group.off
        %a.agenda-title{ :href => "#" }
          .row-fluid
            .span2
              .text-wrapper
                .time 17:00 ~ 17:30
            .span10
              .text-wrapper
                .name Wargame 頒獎典禮
                .head Wargame 頒獎典禮
        .agenda-content
          .row-fluid
            .span2
              .text-wrapper
            .span10
              .text-wrapper
                :markdown
                  Wargame 的戰爭到了尾聲，究竟誰能奪得 2012 年台灣駭客年會的 Wargame 冠軍寶座呢？

