#feature
  .row.big-header
    .span12
      %hgroup
        %i.icon e
        %h2.wf.wf-h2 Features
        %h3.ct9 2012年度會議爆點

  .row
    .span8.offset2

      .row
        .span4
          .text-wrapper    
            %h3
              %i.icon I
              %span.ct9 高級講師
            %p 邀請超過10位外籍講師，涵蓋各類最新技術，吧啦吧啦吧啦！
        .span4
          .text-wrapper
            %h3
              %i.icon s
              %span.ct9 高級研討會
            %p 聽完憑票根可不必再去其他資安技術研討會吃餐點！
      .row
        .span4
          .text-wrapper
            %h3
              %i.icon h
              %span.ct9 高級投影
            %p 雙投影確保會議品質與即時綿羊牆、IRC 聊天互動效果！
        .span4
          .text-wrapper
            %h3
              %i.icon m
              %span.ct9 高級價格
            %p 門票恢復原優惠價，是海外資安技術研討會的三十分之一！
      .row
        .span4
          .text-wrapper    
            %h3
              %i.icon W
              %span.ct9 高級 Wargame
            %p 煉獄級 Wargame 額外舉辦搶旗賽 Capture the Flag，全新競賽規則與獎金！與國外知名駭客隊伍同台較勁！
        .span4
          .text-wrapper
            %h3
              %i.icon b
              %span.ct9 高級 Cosplay
            %p 將本年度大會看板人物「駭客娘 Rootan」實體化，在現場與駭客共舞！

