.feature
  .row
    .span12
      %hgroup
        %h2.wf-h2 Features
        %h3.ct9 2012年度會議爆點

  .row
    .span8.offset2

      .row
        .span4
          .text-wrapper    
            %h3
              %i.icon t
              高級講師
            %p 邀請10位外籍講師，涵蓋各類最新技術，吧啦吧啦吧啦！
        .span4
          .text-wrapper
            %h3
              %i.icon s
              高級研討會
            %p 聽完憑票根可不必再去其他資安技術研討會吃餐點！
      .row
        .span4
          .text-wrapper
            %h3
              %i.icon h
              高級投影
            %p 雙投影確保會議品質與即時綿羊牆、IRC 聊天互動效果！
        .span4
          .text-wrapper
            %h3
              %i.icon m
              高級價格
            %p 門票恢復原優惠價，是海外資安技術研討會的三分之一！
      .row
        .span4
          .text-wrapper    
            %h3
              %i.icon c
              高級 Wargame
            %p 保證煉獄級 Wargame 額外舉辦搶旗賽 Capture the Flag，全新競賽規則與獎金！並邀請國外知名駭客隊伍可同台較勁！
        .span4
          .text-wrapper
            %h3
              %i.icon b
              高級阿宅
            %p 宅神朱學恆擔任首日keynote，究竟會不會被現場嗆爆？讓我們繼續看下去...

