.registration
  .row.big-header
    .span12
      %hgroup
        %i.icon v
        %h2.wf-h2 Registration
        %h3.ct9 報名資訊
  .row-fluid
    .span6
      .text-wrapper
        :markdown

          ### 報名方式
          
          #### 網路報名：線上填具完整資料並完成繳款程序。

          報名網址：http://reg.hitcon.org/2012
          
          #### 第一階段網路報名

          - 報名時間：2012/06/01 至 2012/06/17
            - 一般票新台幣 3,128 元
            - 學生票新台幣 1,433 元
            - VIP 票新台幣 4,000 元

          #### 第二階段網路報名

          - 報名時間：2012/06/18 至 2012/07/08
            - 一般票新台幣 3,389 元
            - 學生票新台幣 1,521 元
            - VIP 票新台幣 4,899 元

          註：海外參加者若無法匯款，請來信大會服務信箱，並提供參加名單，我們將為您服務。

          #### 現場報名：
          
          會議舉行當日可至現場報名新台幣 3,400 元，
          人數額滿為止，額滿後恕不開放入場。

    .span6
      .text-wrapper
        :markdown

          ### 補充說明

          #### 學生票驗證資格說明
          
          「學生身分」須為以下兩點任一符合者：

          1. 持「大專院校學生證」（不含研究所）
          1. 需蓋有 100 學年度上下學期「註冊章」，且年齡 24 歲以下。
          1. 持「身分證、駕照、健保卡、護照」四種有照片證件。
          1. 須為民國 82 年 9 月後出生者，例如國中、高中職學生。
          
          #### 學生票現場驗票說明
          
          1. 每位持學生票者，需提供本人學生證或上述四種有照片證件。
          1. 未帶證件或不符資格者，一律以「一般身份」需補票進場。
          
          #### 與會注意事項
          
          1. 網路報名請妥善填寫真實資料，並攜帶有照片證件備用。
          1. 請記住您的報名確認函內容，以供查驗身分。
          1. 與會人員往返交通費及需住宿請自理。
          1. 與會兩天中提供豐盛午餐及精緻下午茶點。


