#rootan
  .row.big-header
    .span12
      %hgroup
        %i.icon
        %h2.wf.wf-h2 
        %h3.ct9 2012 HITCON 駭客年會看板娘

  .row-fluid
    .span6
      .text-wrapper
        :markdown

          ### rootan 露坦 るーたん
          
          總是喜歡做不同嘗試的16歲少女，
          也因此常會陷入把東西弄壞壞，然後修好再弄壞壞的循環。
          或者是修戶外電視牆的Windows錯誤而被當成可疑人物。

          書包裡總是放著一隻保持連線狀態的無線電，
          擁有附加手機功能的特殊造型耳機，
          以及能夠投影出鍵盤與螢幕的高科技裝置。

          吃了Pocky就能冷靜下來，
          也喜歡分給其他人吃，
          所以備有大量庫存。

          A 16 year old girl who loves to try new [code/script/ideas/tricks]. 
          Thus she always fall into an endless loop of breaking things, fixing them, and breaking them again. Often mistaken for vandalisim when attempting to fix the windows system errors on outdoor TV walls.

          She always carries a wireless reciver in her backpack to stay connected, a custom earset on her head that can be used as an cell phone, and also a state-of-art device that projects keyboard and display in front of her. 

          Snacking on Pocky sticks makes her stay calm, and she like to share with others, so she always keep an ample supply with her.

    .span6
      .text-wrapper
        :markdown

        <img src="/images/rootan.png" />

        
