#rootan
  .row.big-header
    .span12
      %hgroup
        %i.icon v
        %h2.wf.wf-h2 
        %h3.ct9 2012 HITCON 駭客年會看板娘
  .row-fluid
    .span6
      .text-wrapper
        :markdown

          ### 報名方式
          
          #### 網路報名：線上填具完整資料並完成繳款程序。

          報名網址： <http://reg.hitcon.org/2012/>
          
          #### 第一階段網路報名

          - 報名時間：2012/06/01 至 2012/06/17
            - 一般票新台幣 *3,128* 元
            - 學生票新台幣 *1,433* 元
            - VIP 票新台幣 *4,000* 元

          #### 第二階段網路報名

          - 報名時間：2012/06/18 至 2012/07/08
            - 一般票新台幣 *3,389* 元
            - 學生票新台幣 *1,521* 元
            - VIP 票新台幣 *4,899* 元

          **VIP 票種享有保留座位及優先入場權**  
          海外參加者若無法匯款，請來信大會服務信箱，並提供參加名單，我們將為您服務。

          #### 現場報名：
          
          會議舉行當日可至現場報名新台幣 *3,400* 元，
          人數額滿為止，額滿後恕不開放入場。


