#rootan
  .row-fluid
    .span12
      .text-wrapper
        %h2.ct9 2012 HITCON 駭客年會看板娘

  .row-fluid
    .span4
      .text-wrapper
        :markdown

          ### rootan 露坦 るーたん
          
          總是喜歡做不同嘗試的16歲少女，
          也因此常會陷入把東西弄壞壞，然後修好再弄壞壞的循環。
          或者是修戶外電視牆的Windows錯誤而被當成可疑人物。

          書包裡總是放著一隻保持連線狀態的無線電，
          擁有附加手機功能的特殊造型耳機，
          以及能夠投影出鍵盤與螢幕的高科技裝置。

          吃了Pocky就能冷靜下來，
          也喜歡分給其他人吃，
          所以備有大量庫存。

    .span8
      .rootan= image_tag( "rootan.png", :alt => "rootan 露坦 るーたん" )