#top.container
  .row
    .span6
      = partial "shared/fb-like-only"
    .span6
      .date.wf
        .start
          2012
          %span.slash /
          7
          %span.slash /
          20
          %span.wd.ct10 (五)
        \~
        .end
          2012
          %span.slash /
          7
          %span.slash /
          21
          %span.wd.ct10 (六)
