#wargame
  .inner
    .row.big-header
      .span12
        %hgroup
          %i.icon W
          %h2.wf.wf-h2 Wargame
    .row-fluid
      .span12
        .text-wrapper.letter
          :markdown
            ## 關於Wargame 競賽
            
            Wargame 競賽一直是台灣駭客年會的重點項目。從第一屆以來，每屆白熱化的戰爭都聚集了不少資安的人才前來一較高下。在 2011 年開始，甚至有國外的駭客好手前來挑戰。資安駭客技術在國內一直是隱晦的技術，因為法律限制以及國情不同，無法像國外一樣光明正大的進行交流。因此，台灣駭客年會設立了 Wargame 競賽，提供一個正當且合法的環境讓大家來挑戰切磋。希望台灣能夠聚集這些資安能量，好好為我們台灣的安全奮鬥！
  
            你想成為駭客嗎？你想展現你的實力嗎？你想跟真正的駭客交手嗎？
            
            歡迎來挑戰！
  
          .pull-right= "— Allen Own  2012.06.30"
  
    .row-fluid
      .span12
        .text-wrapper
          :markdown
            ### 時間地點
            Wargame 競賽   	2012/07/20 (Fri) 10:00AM ~ 17:00PM  
            Wargame 競賽   	2012/07/21 (Sat) 09:00AM ~ 16:30PM  
            結果公佈及頒獎   	2012/07/21 (Sat) 17:00PM ~ 17:30PM  
  
    .row-fluid
      .span6
        .text-wrapper
          :markdown
  
            ### 競賽宗旨
  
            - 提昇國人對網路安全、資訊安全的了解程度及重視。
            - 提供一個正當且合法的網路攻防戰競賽場所。
            - 促進台灣網路安全玩家的技術交流，表揚優秀人才。
  
            ### 競賽說明
            
            1. 競賽隨 HITCON 2012 會議中同時舉行，地點為第一會議室。
            2. 競賽採取報名制，於會議開始時公布競賽的網址。全程免費。
            3. 競賽採取積分累計制，依分數高低判定優勝，提供獎金予優勝者。同分者依照送分時間判定。
            4. 獎金之給予，依總獎金額按照積分分數比例分配。
            5. 總獎金為新台幣伍萬元整，獎金依名次分配如下：
                - 第一名獎金 NTD 20,000
                - 第二名獎金 NTD 12,000
                - 第三名獎金 NTD 6,000
                - 第四名獎金 NTD 3,000
                - 第五名獎金 NTD 3,000
                - 第六名獎金 NTD 1,500
                - 第七名獎金 NTD 1,500
                - 第八名獎金 NTD 1,500
                - 第九名獎金 NTD 1,500
                - 第十名獎項 I-ROCKS IRK01W-D 加密鍵盤
            6. 除了以上的獎項之外，每名得獎者加贈 i-rocks 提供的「IRK01W-D 加密鍵盤」。
            7. 參賽者請攜帶身份證，得獎人員於頒獎後，至「報到服務櫃台」填寫資料，未當日領取者視同友情贊助，會後不得補領。
            8. 除了傳統的 Wargame 競賽之外，本年也將舉辦 Pwn2Own 競賽，提供額外的獎金，將在會場內廠商攤位舉辦。
  
            ### 參賽資格
  
            凡付費參加 HITCON 2012 研討會之與會人士，均可報名參加競賽。惟出題關主、工作人員均不列入成績計算。
  
      .span6
        .text-wrapper
          :markdown
  
            ### 競賽規則
  
            1. 關卡屬性：
                - 重複性：每一個人或團體在該關卡只能拿分一次。
                - 排他性：只有一個個人或一個團體才能拿分。
                - 相依性：特定關卡遭解開後，才會開數隱藏關卡。
            2. 關卡類型：
                - Information Gathering
                - Web Security
                - Binary Processing
                - Malware Detection
                - Forensics
                - Cryptography
                - Packet Analysis
                - Pwn2Own
                - Social Engineering
                - Mobile Phone
                - Others...
            3. 參賽流程：
                - 會議期間，可隨時連線至 Wargame 主機註冊報名參賽。
                - 競賽時間終了，進行頒獎。
                - 競賽過程中隨時注意現場及 IRC 的競賽公告           
            4. 判定優勝：
                - 每一關卡都有不同的積分，時間終了時，以積分高低判定優勝，同分時以時間先後順序判定優勝。
                - 優勝獎金之給予，依總獎金額按照積分分數比例分配。
             
            ### 比賽注意事項
  
            競賽期間，做出以下違規事項者將直接取消資格：
  
            - 進行任何破壞競賽公平公正原則之行為
            - 干擾現場網路運作
            - 對會場外部網路進行不當之入侵行為
            - 散播關卡金鑰
            - 惡意攻擊其他競賽使用者
            - 攻擊非進行競賽的聽眾
  
            ### 競賽結束
  
            優勝者必須發表優勝感言，簡介於競賽期間，所用到的入侵、防護等相關資訊
  
            ### 保留權利
  
            主辦單位可依現場狀況調整競賽的內容、流程及規則。