- if data.page.title
  %meta{:content => "#{data.page.title} - #{data.config.site_name}", :property => "og:title"}
- else
  %meta{:content => data.config.site_name, :property => "og:title"}

- if data.page.og_url
  %meta{:content => data.page.og_url, :property => "og:url"}
- else
  %meta{:content => data.config.site_url, :property => "og:url"}

- if data.page.og_description
  %meta{:content => data.page.og_description, :property => "og:description"}
- else
  %meta{:content => data.facebook.default_og_description, :property => "og:description"}

- if data.page.og_image
  %meta{:content => data.page.og_image, :property => "og:image"}
- else
  %meta{:content => "#{data.config.site_url}images/fb-new.png", :property => "og:image"}

- if data.page.og_type
  %meta{:content => data.page.og_type, :property => "og:type"}
- else
  %meta{:content => "article", :property => "og:type"}

%meta{:content => data.config.site_name, :property => "og:site_name"}
%meta{:content => data.facebook.admins, :property => "fb:admins"}/