<ul class="like-buttons">
  <li><div class="fb-like" data-href="http://hitcon.org/2012/" data-layout="button_count" data-width="97"></div></li>
  <li><a href="https://twitter.com/share" class="twitter-share-button" data-url="http://hitcon.org/2012/" data-text="HITCON 2012 | Hacks in Taiwan Conference 台灣駭客年會" data-lang="zh-tw">Tweet</a></li>
  <li><g:plusone size="medium"></g:plusone></li>
  <li><span class="hidden-phone"><a class="plurk button" href="javascript: void(window.open('http://www.plurk.com/?qualifier=shares&status=' .concat(encodeURIComponent(location.href)) .concat(' ') .concat('&#40;') .concat(encodeURIComponent(document.title)) .concat('&#41;')));">Plurk</a></span></li>
</ul>