#hd.p-4.pw-6.t-6.tw-6.d-5.dw-6.dw3-8
  .content
    %h2.title.ct2.wf 新世代的攻擊威脅
    %h2.sub-title.wf New Generation Threats
    %h1.big-title.wf
      %span HITCON
      %span 2012
    %h2.sub-title.wf Coming Soon
  .decor