<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="rootan.html" id="nopadding" <% if current == "rootan" %> class="current"<% end %>><img src="/images/rootan8bit.gif"/></a>
      <a class="brand" href="index.html">HITCON2012</a>
      <div class="nav-collapse">
        <ul class="nav">
          <li></li>
          <li><a href="http://blog.hitcon.org/">News</a></li>
          <li><a href="agenda.html"<% if current == "agenda" %> class="current"<% end %>>Agenda</a></li>
          <li><a href="wargame.html"<% if current == "wargame" %> class="current"<% end %>>Wargame</a></li>
          <li><a href="location.html"<% if current == "location" %> class="current"<% end %>>Location</a></li>
          <li><a href="registration.html"<% if current == "registration" %> class="current"<% end %>>Registration</a></li>
          <li><a href="sponsor.html"<% if current == "sponsor" %> class="current"<% end %>>Sponsor</a></li>
        </ul>
        <ul class="nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Others <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="http://photo.hitcon.org/">Gallery</a></li>
              <li><a href="http://www.hitcon.org/archive.htm">Archive</a></li>
              <li><a href="https://www.facebook.com/HITCON">Facebook</a></li>
            </ul>
          </li>
        </ul>
        <ul class="nav pull-right">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Language <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/2012/">繁體中文</a></li>
              <li><a href="/2012/en/">English</a></li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
