---
title: "交通與地點"
og_url: "http://hitcon.org/2012/location.html"
---

- content_for :top do
  = partial "partial/top"

- content_for :navbar do
  = partial "/shared/navbar", :locals => { :current => "location" }

= partial "partial/venue"