---
title: "報名嘛"
og_url: "http://hitcon.org/2012/registration.html"
og_description: "HITCON 2012 報名方法"
---

- content_for :top do
  = partial "partial/top"

- content_for :navbar do
  = partial "/shared/navbar", :locals => { :current => "registration" }

= partial "partial/registration"

= partial "partial/partner"