---
title: "「ROOTAN 露坦」HITCON 2012 看板、看板、看板娘！... 其實也是個駭客"
og_url: "http://hitcon.org/2012/rootan.html"
og_description: "「ROOTAN 露坦」HITCON 2012 看板娘！"
---

- content_for :top do
  = partial "partial/top"

- content_for :navbar do
  = partial "/shared/navbar", :locals => { :current => "rootan" }

= partial "partial/rootan"