---
title: "有史以來最棒的贊助廠商列表"
body_id: "sponsor"
og_url: "http://hitcon.org/2012/sponsor.html"
og_description: "HITCON 2012 台灣駭客年會有史以來最棒的贊助廠商列表"
---

- content_for :navbar do
  = partial "/shared/navbar", :locals => { :current => "sponsor" }

#sponsor
  = partial "partial/sponsor"